<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.edex.ui.speech-helper</string>
	<key>CFBundleName</key>
	<string>speech_helper</string>
	<key>CFBundleExecutable</key>
	<string>speech_helper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone for voice dictation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition for voice dictation.</string>
</dict>
</plist>
